{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>Student Dashboard</title>{% endblock title %}
{% block content %}


   <div class= "container px-5">
       <table class="table table-striped">
        <thead class="thead-dark">  
            <tr>
                <th class="col-5">File</th>
                <th class="col-3">Status</th>
                <th class="col-4">Time Uploaded</th>
                </tr>
        </thead>
    {% if user.is_authenticated %}
        {% if loop_form %}
            {% for a in loop_form %}
            <tbody>  
                    <tr>
                        <td><a href="{{a.file.url}}" target= "_blank">{{a.title}}</a></td>
                        <td>{{document.get_status_display}}</td>
                        <td>{{a.upload_time}}</td>

                    </tr>

            </tbody>
            {% endfor %}
        {% else %}
            <p>Nothing uploaded</p>
            
        {% endif %}
    {% else %}
        <p>Please log in to view your content.</p>
    {% endif %}
       </table>
    </div>
   
{% endblock content %}
</html>