{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Supervisor Dashboard-Students</title>
    {% endblock title %}

{% block content %}
 
      <div class= "container px-4">
           
            <div class="container px-5">
                  <h2 class= "fw-bold">{{student.get_full_name}}  {{student.matric_number}}</h2>
                   <p style="color:red;">Reminder: Please ensure to update student's project status</p>
                  <div class= "table-responsive mt-3">
                  <table class="table table-striped align-middle">
                        <thead>
                              <tr>
                              <th class="fw-bold col-2">File</th>
                              <th class="fw-bold col-4">Description/Changes made</th>
                              <th class="fw-bold col-4">Status</th>
                              <th class="fw-bold col-2">Time Submitted</th>
                              </tr>
                        </thead>
                        {% for project in projects %} 
                        <tbody> 
                              
                              <tr>
                              <td class="col-2"><a href="{{project.file.url}}" target='_blank'>{{ project.title}}</a></td>
                              <td class="col-4">{{project.description}}</td>
                              <td class="col-4">
                                     <form method="POST" action="{% url 'project:update_project_status' project.id %}">
                                    {% csrf_token %}
                                    <select name="status">
                                          {% for value, label in project.STATUS_CHOICES %}
                                                <option value="{{ value }}" {% if project.status == value %}selected{% endif %}>
                                                {{ label }}
                                          </option>
                                          {% endfor %}
                                    </select>
                                    <button type="submit">Update</button>
                                </form>
                              </td>
                              <td class="col-2">{{project.upload_time}}</td>
                                    </tr>
                             
                              {% empty %}
                              <h4>No Projects Submitted</h4>
                        
                              </tbody>
                              {% endfor %}
                        <div>
                  </table>
                  </div>
            
   </div>
{% endblock content %}
           
</html>