{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Supervisor Dashboard</title>
    {% endblock title %}

{% block content %}
 
      <div class= "container px-4">
            <div >
                <div class=" text-dark  mt-3 mb-3 px-3">
                    <span role="img" aria-label="waving Emoji">&#128075;</span>Welcome, <b>{{ full_name }}!</b>
                </div>
                
            </div>
      
            
            <div class="container px-3">
                  <h2>Here's a list of your students</h2>
                  <div class= "table-responsive mt-3">
                  <table class="table table-striped align-middle">
                        {% for student in students %} 
                        <tbody> 
                              
                              <tr>
                              <td class="col-3">{{ student.get_full_name }}</td>
                              <td class="col-2">{{ student.matric_number }}</td>
                              <td class="col-3" id="tabledata" ><a href="{% url "project:student_projects" student.id %}">View Student's Project Details...</a></td>
                              <td class="col-3" id="upload-area"style="color: gray">No new uploads</td>
                              <td class="col-4">Submitted</td>
                                    </tr>
                              {% empty %}
                              <h4>No students assigned yet.</h4>
                        
                              </tbody>
                              {% endfor %}
                        <div>
                  </table>
                  </div>
            
   </div>
{% endblock content %}
      <script>
    //Establishing the WebSocket connection
    const wsProtocol = window.location.protocol === "https:" ? "wss:" : "ws:";
    const notificationSocket = new WebSocket(
        wsProtocol + '//' + window.location.host + '/ws/updates/'
    );
      const notificationArea = document.querySelector('#upload-area');
      const tabledata= document.querySelector('#tabledata');
    //Handle incoming messages
    notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        
        //Display the notification text
        //notificationArea.innerHTML = {data.message} ;
    };

    notificationSocket.onclose = function(e) {
        console.error('Notification socket closed unexpectedly');
    };

     //Optional: clear the notification after a few seconds
     function clearNotification() {
        setTimeout(() => {
            notificationArea.innerHTML = 'No new uploads';
        }, 5000); 
      }
      tabledata.addEventListener('click', clearNotification);

</script>
</html>