{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href = "{% static 'css/style.css' %}" rel= "stylesheet">
    {% comment %} <link rel="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
   {% comment %} <div class="alert alert-info mt-5" role="alert">
            {% if messages %}
                
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ messages }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
           
            {% endif %}
            </div> {% endcomment %}
       
        <div class="d-flex justify-content-center align-items-center" 
         style="background-image: url('{% static "images/aces_blue.avif" %}'); 
                height: 100vh; 
                background-size: cover; 
                background-position: center;">
            
                 
        <!-- Form container -->
         
        <div class="border border-3 p-5 rounded bg-transparent m-4 light-shadow" style="min-width: 350px; positon:relative;">
            <a href= "{% url 'login' %}" class="loginlink fw-bold">Login</a>

            <h1 class="mb-4 text-light">Register on ProjLink</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                
    <p>
    <label for="id_role">Role:</label>
    <select name="role" id="id_role" required>
      <option value="">-- Select Role --</option>
      <option value="student">Student</option>
      <option value="supervisor">Supervisor</option>
    </select>
  </p>
    <div id="student_fields" style="display:none;">
    <p>
      <label for="id_matric_number">Matric Number:</label>
      <input type="text" name="matric_number" id="id_matric_number">
    </p>
    <p>
      <label for="id_department">Department:</label>
      <input type="text" name="department" id="id_department">
    </p>
  </div>

  <!-- Supervisor-specific fields -->
  <div id="supervisor_fields" style="display:none;">
    <p>
      <label for="id_staff_id">Staff ID:</label>
      <input type="text" name="staff_id" id="id_staff_id">
    </p>
  </div>
  <div id=select_supervisor style="display:none;">
    <p>
        <label for= "supervisor_list">Choose Supervisor</label>
        {{form.supervisor}}
    </p>

  </div>
  <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>

        </div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded",()=>{
            const selectrole= document.getElementById("id_role");
            const studentfield= document.getElementById("student_fields");
            const supervisorfield= document.getElementById("supervisor_fields");
            const selectdropdown= document.getElementById("select_supervisor");

        
            function togglefields(){
                if(selectrole.value===student){
                    studentfield.style.display="block";
                    supervisorfield.style.display="none";
                    selectdropdown.style.display="none";

                }
                else if(selectrole.value===supervisor){
                    studentfield.style.display="none";
                    supervisorfield.style.display="block";
                    selectdropdown.style.display="none";
                }
                else{
                    studentfield.style.display="none";
                    supervisorfield.style.display="none";
                    selectdropdown.style.display="none"
                }
            }
            roleselect.addEventListener('change', togglefields);
            togglefields();
        });

    </script>
</body>
</html>