{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
       
        <div class="d-flex justify-content-center align-items-center container-fluid position-relative" 
         style="background-image: url('{% static "images/aces_blue.avif" %}'); 
                height: 100vh; 
                background-size: cover; 
                background-position: center;"
                >
            
                 
        <!-- Form container -->
         <a href= "{% url 'login' %}" class="loginlink fw-bold position-absolute top-0 m-3 end-2">Login</a>
        <div class="border border-3 p-5 rounded bg-transparent m-3 light-shadow form-scroll " style="min-width: 350px; max-width:500px; max-height: 90vh; overflow-y:auto; ">
            

            <h1 class="mb-4 text-center mt-0" ><span class= "text-light">Register</h1>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form|crispy }}
                
    {% comment %} <p>
    <label for="id_role">Role:</label>
    <select name="role" id="id_role" required>
      <option value="">-- Select Role --</option>
      <option value="student">Student</option>
      <option value="supervisor">Supervisor</option>
    </select>
  </p> {% endcomment %}

    {% comment %} <div id="student_fields" style="display:none;">
    <p>
      <label for="id_matric_number">Matric Number:</label>
      <input type="text" name="matric_number" id="id_matric_number">
    </p>
    <p>
      <label for="id_department">Department:</label>
      <input type="text" name="department" id="id_department">
    </p>
  </div>

  <!-- Supervisor-specific fields -->
  <div id="supervisor_fields" style="display:none;">
    <p>
      <label for="id_staff_id">Staff ID:</label>
      <input type="text" name="staff_id" id="id_staff_id">
    </p>
  </div> {% endcomment %}
    <!-- Supervisor selection for students -->
              {% comment %} <div style="display:none;">
                <p id="supervisor_dropdown" style="display:none;">
                    <label for= "supervisor_list">Choose Supervisor</label>
                    {{form.supervisor}}
                </p>
              </div> {% endcomment %}

              <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>

        </div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded",()=>{
            const selectrole= document.getElementById("id_role");
            const studentfield1= document.getElementById("id_matric_number");
            const studentfield2= document.getElementById("id_department");
            const supervisorfield= document.getElementById("id_staff_id");
            const selectdropdown= document.getElementById("id_supervisor"); 

        
            function togglefields(){
                if(selectrole.value==="student"){
                    studentfield1.parentElement.style.display="block";
                    studentfield2.parentElement.style.display="block";
                    supervisorfield.parentElement.style.display="none";
                    selectdropdown.parentElement.style.display="block"; 

                }
                else if(selectrole.value==="supervisor"){
                    studentfield1.parentElement.style.display="none";
                    studentfield2.parentElement.style.display="none";
                    supervisorfield.parentElement.style.display="block";
                    selectdropdown.parentElement.style.display="none";
                }
                else{
                    studentfield1.parentElement.style.display="none";
                    studentfield2.parentElement.style.display="none";
                    supervisorfield.parentElement.style.display="none";
                    selectdropdown.parentElement.style.display="none"; 
                }
            }
            selectrole.addEventListener('change', togglefields);
            togglefields();
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>